.logo {
	height: 100px;
	width: 100px;
	margin: 10px 15px 10px 0;
	margin-left: -10vw;
 
}
.navbar-toggler{
	margin-top: 0;
	
}

*{
    box-sizing: border-box;
 }

.navbar-light .navbar-brand{
	color: 	#000000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    margin-left: 10vw;


}

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #fff;
	font-family: Montserrat;
	margin-left: 20vw;

}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
	font-weight: bold;
	font-family: Montserrat;
    

}

.navbar-light .navbar-nav button{
	color: #fff;
	font-weight: bold;
	background-color: #804000;
	font-family: Montserrat;
	margin-top: 0vw;
	margin-left: 2vw;
	border: 0;
	padding: 15px;
}

.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-caption{
    left: 5px;
	bottom: 240px;
	width:100%;
}

ul{
	margin-left: 10vw;
}

#diff h3{
	color: #fff;
}





#main-content button{

	color: #fff;
	font-weight: bold;
	background-color: #804000;
	font-family: Montserrat;
	margin-top: 180px;
	margin-left: -80vw;
	border: 0;
    padding: 20px;
}

 #par{
	
    font-size: 40px;
    width: 60%;
    font-weight: bold;
    font-family: Montserrat;
    margin-left: -13vw;
}


.division p{
   /* border: 1px solid black;*/
   width: 50%;
   float: left;	
   padding: 30px;
   
 }

 .row-full{
 	background: #505050;
  width: 100vw;
 position: relative;
 margin-left: -50vw;
height: 0;
 margin-top: 80px;
 left: 50%;

 }

  .row-full section{
 	background: #505050;
  
 }

 .item-photo img{
    padding: 60px;
	height: 500px;
	width: 700px;
	float:left;
}


.item-photo h3{

	float: right;
	width: 50%;
	padding: 10px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	font-family: Montserrat;
    margin-top: 10vw;
	
}


.item-photo p{
	font-size:17px; 
	float: right;
	width: 50%;
	padding:18px;
	padding-top: 40px;
	color: #fff;
	font-family: Montserrat;
	margin-left: -40vw;
}

.item-photo button{
	color: #fff;
	font-weight: bold;
	background-color: #804000;
	font-family: Montserrat;
	margin-top: 180px;
	margin-left: -75vw;
	border: 0;
    padding: 20px;


}

.item-photo1 img{

    padding: 60px;
	height: 500px;
	width: 700px;
	float:right;
}


.item-photo1 h3{

	float: left;
	width: 50%;
	padding: 40px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	font-family: Montserrat;
	padding-top: 40px;
	padding-bottom:0;
	margin-top: 6vw;
	margin-left: 2vw;
	
}


.item-photo1 p{
	font-size:17px; 
	float: left;
	width: 50%;
	padding:40px;
	padding-top: 30px;
	color: #fff;
	font-family: Montserrat;
	margin-left: 2vw;
}

.item-photo1 button{
	color: #fff;
	font-weight: bold;
	background-color: #804000;
	font-family: Montserrat;
	margin-top: 600px;
	border: 0;
	margin-left: 50vw;
}

.item-photo2 img{
 padding: 60px;
	height: 500px;
	width: 700px;
	float:left;
}


.item-photo2 h3{

	float: right;
	width: 50%;
	padding: 10px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	font-family: Montserrat;
	padding-top: 30px;
	padding-bottom:0px;
	margin-top: 6vw;
	margin-left: 2vw;
	
}


.item-photo2 p{
	font-size:17px; 
	float: right;
	width: 50%;
	padding:20px;
	padding-top: 40px;
	color: #fff;
	font-family: Montserrat;
	margin-left: 2vw;
}

.item-photo2 button{
	color: #fff;
	float: right;
	font-weight: bold;
	background-color: #804000;
	font-family: Montserrat;
	border: 0;
	margin-left: 2vw;

}

.division2 p{
   /* border: 1px solid black;*/
   font-size: 50px;
   font-weight: 0;
   width: 70%;
   float: left;	
   padding-top: 1620px;
   padding-left: 0px;
   padding-bottom: 90px;
   padding-right: 90px;
   margin-left: -11vw;
 }

.row-next {
	margin-left: -10vw;
    font-family: Montserrat;
    margin-top: 180px;
    color: #000;
    font-size: 1px;

}

form {

  margin-top: -25vw;
  float: right;
  width: 400px;
  /* Form outline */
  

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 20%;
  text-align: right;
  margin-left: -1vw;
  font-family: Montserrat;
  font-size: 20px;
}

input, 
textarea {

  width: 550px;
  height:50px;
  box-sizing: border-box;
  border: 1px solid #999;

}

input:focus, 
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
  margin-top: 1vw;

}

button {

  margin-left: 2em;
}



/************************************************ Footer ************************************************/



@media (min-width: 1200px) {

	.carousel-caption{
	bottom: 50px;
}

.carousel-caption h3{
	float: left;
	font-size: 80px;
	text-transform: capitalize;
    letter-spacing: 2px;
    color:#000000;
    font-family: Montserrat;
    width: 60%;
}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.carousel-caption{
	bottom: 180px;
}

.carousel-caption h3{
	float: left;
	font-size: 50px;
	text-transform: capitalize;
    letter-spacing: 2px;
    color:#000000;
    font-family: Montserrat;
    width: 60%;
}


}

@media (min-width: 768px) and (max-width: 991px){
	.logo{
		display: none;
	}
	.navbar-light .navbar-brand{
	color: 	#000000;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px;
	text-align: left;
    }
    .navbar-light .navbar-brand span{
        font-size: 15px;
    }

    .carousel-caption{
    left: 5px;
	bottom: 270px;
}

.carousel-caption h3{
	float: left;
	font-size: 45px;
	text-transform: capitalize;
    letter-spacing: 2px;
    color:#000000;
    font-family: Montserrat;
    width: 60%;
}



}

@media (max-width: 767px) {
      .logo {
            display: none;
      }
      .navbar-light .navbar-brand{
	color: 	#000000;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px;
	text-align: left;
    }
       .navbar-light .navbar-brand span{
        font-size: 12px;
    }

    .carousel-caption{
    left: 5px;
	bottom: 400px;
}

.carousel-caption h3{
	float: left;
	font-size: 30px;
	text-transform: capitalize;
    letter-spacing: 2px;
    color:#000000;
    font-family: Montserrat;
    width: 60%;
}





}
