*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: Glacial Indifference;
	color: #000;
	background-color: #FFFFFF;
}

header{
background-color: #003459;
height : 100px;
margin-bottom: 0px;
padding-bottom: 0px;
border: 0px;
}

a {
  text-decoration: none;
}

nav{

  width: 100%;
}

nav ul{
  float: right;
  font-family: 'PT Sans', sans-serif;
  margin-top: 30px;
  overflow: hidden;
}


nav ul li{
display: inline;

}
nav a {
  float: left;
  color: #D9DCD6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #16425B;
  color: #D9DCD6;
  
  border-bottom: #D9DCD6 0.125em solid;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: #16425B;
  color: #2A9D8F;
  border-bottom:#2EC4B6 0.125em solid;
  /*transition: 3s; */
}

main{
    margin-top: 0px;
    padding-top: -10px;
}

img{
        max-width: 100%;
        max-height: 100%;
        display: block; 
        object-fit: cover;
        margin: 0px 15px 10px 40px;
        padding-top: 10px;
    }
    .box{
        width: 80px;     
        float: left;   
        
    }    
    .box.large{
        height: 80px;
    }
    .box.small{
        height: 100px;
    }

.name1 h1{
    font-family: 'Merriweather Sans', sans-serif;
    color: #fff;
    font-size: 2.0em;
    /*text-transform: uppercase;*/
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    width: 100%;
}

.name1 a:hover, .name1 a:focus {
  text-decoration: none;
}


.name1 p span{
 vertical-align: middle;
  color: #ffffff;
  padding-left: 80px;
  margin-bottom: 20px;
  position: relative;
}


hr{
height :4px;
background-color : #000;
}



.mainimg1{
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    border: 0px;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
    margin-right: 40px;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
